@import url('https://fonts.googleapics.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

section{
    min-height: 100vh;
    background-image: url("bgNow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.navbar li {
    display:inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }

.navbar ul li:hover{
    background-color: #eb20eb;
    transition: 0.5s ease;
}
.navbar ul li:Active{
    background-color:rgb(0, 140, 255);

}

.center{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);

}

.center h1{
    font-weight: 800;
    margin-bottom: 25px;
    font-size: 36px;
    color: blue;
    letter-spacing: 1.5px;


}

.footer{
    background-color: aqua;
}

.navbar{
    width: 87%;
    margin:auto;
}

.navbar h1{
    float: left;
    line-height: 85px;
    font-size: 35px;
    color: blue;
    
}

.navbar ul li a{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;

}
.center .button{
    background-color: #eb2320;
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;

}

.center .button:hover{
    background-color: aqua;
    transition: 0.8s ease;
}